= '\n'
//= Banner =

.banner 
    .banner__title
        h1 TIME TO <br> 
            span SHINE BRIGHTER
    .banner__image  
        img(src="images/second-banner.png", alt="")
        
//= End banner =
= '\n'