= '\n'
//= Banner =

.banner 
    .banner__title
        h1 TIME TO <br> 
            span SHINE BRIGHTER
    .banner__image  
        img.banner__image-hand(src="images/hand.png", alt="")
        img.banner__image-star(src="images/star.png" alt="")
        
//= End banner =
= '\n'