= '\n'
//= quote =

section.quote 
    .container
        .quote__author  
            .quote__author-photo
                img(src="images/photo.png", alt="")
            h3 Dan Hoffmann
            span Managing Director
            span Executive Vice President
            span Intra-Asia Trades
        .quote__text
            h2.quote__title We wanted to show the difference
            blockquote 
                p In the last few years we sensed the wind of change in our company. We were responding more quickly and successfully to the needs of our clients. And now, we feel that we are ready for that change to be seen. So, we took our visual communication assets and gave them the appropriate upgrade they deserved. 
                p While the ease of doing business with us was so noticable, we felt that the way we look and sound projected something else, something that it is not us. We decided to change that as well, in order to be unified in every front. I welcome you to see what we’ve done and will be happy to hear your thoughts on it.
            a.quote__link(href="#") 
                span Watch Mr. Hoffmann's statement
                +icon('icon-play')
//= End quote =
= '\n'
