body {
    font-size: $fontSizeSmall;
    line-height: $lineHeightBase;
    margin: 0;
    
    h1, h2, h3, h4 {
        .color {
            color: $brand04;
        }
    }

    .layout {
        position: relative;
        min-width: 320px;
        flex-grow: 1;
        flex-shrink: 0;
        padding: 0;

        .header,
        .banner,
        #main {
            display: none;
        }

        &.animation-out {
            .first-screen {
                opacity: 0;
                transition: all .5s;
            }
        }

        &.animation-in {
            .first-screen {
                display: none;
            }

            .header,
            .banner,
            #main {
                display: block;
                animation: fade-in 1s;
            }
        }
    }

    .container {
        max-width: $container;
        margin-right: auto;
        margin-left: auto;
        padding-right: $containerGutterWidth / 2;
        padding-left: $containerGutterWidth / 2;
    }

    main {
        > * {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .hide {
        display: none !important;
    }
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}