include ../mixin/_sprite-svg

-
    menuList = ['Home', 'Promise', 'Visual Language', 'Website', 'Vision'];

    benefits = [
        {
            icon: 'icon-1',
            title: 'survey',
            info: 'We interviewed every one that counts at Gold Star Line - employees and managers, held a vast questionnaire with our clients, examined the other companies in our field, and gathered a lot of useful data.'
        },
        {
            icon: 'icon-2',
            title: 'Research',
            info: "All the data that has been obtained was Taken into account in the analysis process. We've learned a great deal from all that great data and had some interesting insights, regarding our mission."
        },
        {
            icon: 'icon-3',
            title: 'Strategy',
            info: 'With all of that information, we could finally formulate the right strategy that will serve Gold Star Line faithfully, for many years to come. The results are right here, hope you’ll find it as inspiring as we did.'
        }
    ]