.banner {
    height: 25vh;
    width: 100%;
    position: relative;
    transition: all 1s;

    &__title {
        max-width: $container;
        position: absolute;
        bottom: 11.9792vw;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        z-index: 2;

        h1 {
            margin: 0;
            text-align: center;
            line-height: 10.2778vw;
            font-size: 11.1111vw;
        }

        span {
            color: $brand04;
        }
    }

    &__image {
        position: absolute;
        bottom: 0;
        right: 4.8958vw;
        z-index: 1;
    }

    &__image-hand {
        width: 29.3229vw;
    }

    &__image-star {
        position: absolute;
        top: 0;
        z-index: -1;
        transform: rotate(-8deg);
        width: 18vw;
    }

    @media (min-width: $screen_min_768) {
        height: 95vh;

        &__title {
            h1 {
                font-size: $fontSize150;
                line-height: $lineHeight122;
            }
        }
    }
}