.benefits {
    background-color: $brand01;

    &__container {
        display: grid;
        grid-gap:20px 0;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -16.0938vw;
    }

    &__item {
        width: 75vw;
        background-color: $base;
        border-radius: 1.6667vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        padding: 4.6875vw 1.3021vw 6.3021vw 1.3021vw;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            transform: scale(1.03)!important;
            transition-duration: .2s !important;
        }

        &-icon {
            margin-bottom: 1.8750vw;
            height: 6.7708vw;
            
            img {
                object-fit: contain;
                width: auto;
                height: 100%;
            }
        }

        &-title {
            margin: 0 0 2.8125vw 0;
            font-size: 5.4667vw;
            line-height: 6vw;
            color: $brand02;
        }

        p{
            font-size: 4.4103vw;
            line-height: 5.4103vw;
        }
    }

    @media (min-width: $screen_min_768) {

        &__item {
            width: 45vw;

            &-title {
                font-size: $fontSizeLarge;
                line-height: $lineHeightLarge;
            }

            p {
                font-size: $fontSizeBase;
                line-height: $lineHeightBase;
            }
        }
    }

    @media (min-width: $screen_min_1080) {

        &__container {
            grid-template-columns: 20.7292vw 20.7292vw;
            grid-gap: 53px 85px;
        }

        &__item {
            width: auto;

            &:nth-child(2n) {
                top: 250px;
            }
        }

        
    }
}