.first-screen {
    background-color: $brand01;
    position: relative;

    &__image {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .icon-play {
        fill: $base;
        width: 4.5833vw;
        height: 4.5833vw;
        transition: all .2s;

        &:hover {
            transform: scale(1.08);
            cursor: pointer;
        }
    }

    &__scroll {
        position: absolute;
        bottom: 6.4063vw;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        margin-top: auto;
        cursor: pointer;

        &-text {
            display: block;
            padding-bottom: 20px;
            font-family: $fontFamilyBase;
            font-size: $fontSize28;
            color: $base;
            white-space: nowrap;
            opacity: .6;
            animation: pulse 2s linear alternate infinite;
        }
        &:hover {
            &::after,
            &::before {
                background-color: $brand04;
            }
        }
    }
      
    .chevron {
        position: absolute;
        width: 28px;
        height: 5px;
        opacity: 0;
        transform: scale3d(0.5, 0.5, 0.5);
        animation: move 3s ease-out infinite;
    }
      
    .chevron:first-child {
        animation: move 3s ease-out 1s infinite;
    }
      
    .chevron:nth-child(2) {
        animation: move 3s ease-out 2s infinite;
    }
      
    .chevron:before,
    .chevron:after {
        content: ' ';
        position: absolute;
        top: 0;
        height: 100%;
        width: 51%;
        background: #fff;
        transition: background-color .2s;
    }
      
    .chevron:before {
        left: 0;
        transform: skew(0deg, 30deg);
    }
      
    .chevron:after {
        right: 0;
        width: 50%;
        transform: skew(0deg, -30deg);
    }
      
    @keyframes move {
        25% {
          opacity: 1;
      
        }
        33% {
          opacity: 1;
          transform: translateY(30px);
        }
        67% {
          opacity: 1;
          transform: translateY(40px);
        }
        100% {
          opacity: 0;
          transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
        }
    }
      
    @keyframes pulse {
        to {
          opacity: 1;
        }
    }

    &__logo {
        position: relative;
    }

    .logo {
        position: absolute;
        top: 1.3542vw;
    }

    &__content {
        position: absolute;
        width: 100%;
        top: 40%;
        transform: translate(0, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            text-align: center;
            margin: 0;
            line-height: 10.2778vw;
            font-size: 11.1111vw;
        }
    }

    &__title {
        margin-bottom: 1.5625vw;
    }

    @media (min-width: $screen_min_768) {
        &__title {
            h1 {
                font-size: $fontSize150;
                line-height: $lineHeight122;
            }
        }
    }

    @media (min-width: $screen_min_1080) {
        &__image {
            max-height: 100vh;
        }
    }
}