.nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
 
    &.is-active {
       top: 0;
       width: 100%;
       height: auto;
       background-color: $brand01;
       padding: 50px 0 20px 0;
    }
 
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 0.5521vw;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }
 
    &__link {
        position: relative;
        display: inline-block;
        line-height: $lineHeightBase;
        font-size: $fontSizeSmall;
        font-weight: 400;
        color: $base;
        padding: 0.5208vw;
        transition: color .2s;
        transition: all 0.3s ease;

        &::before {
            content: '';
            position: absolute;
            width: 0%;
            height: 2px;
            background-color: $brand04;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: width .3s;
        }

        &:hover, &.active {
            color: $brand04;

            &::before {
                width: 100%;
            }
        }
    }
 
    @media (min-width: $screen_min_768) {
        position: relative;
        top: 0;
        width: auto;
        height: auto;
        padding: 0;
        margin-left: auto;
 
        &__inner {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            column-gap: 2.5521vw;
        }

        &__link {
            padding: 1.4063vw 0.5208vw 1.3542vw 0.5208vw;
        }
    }
}