.quote {
    background-color: $brand04;
    padding: 5.8vw 0 21.0417vw 0;
  
    .container {
        display: grid;
        grid-template-columns: 15.6250vw 1fr;
        grid-gap: 0 4.7396vw;
    }

    &__author {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 3;

        &-photo {
            width: 15.6250vw;
            height: 15.6250vw;
            margin-bottom: 1.1979vw;
        }

        h3 {
            font-size: 1.4583vw;
            line-height: 1.7708vw;
            font-weight: 700;
            margin: 0;

        }

        span {
            font-size: $fontSizeSmall;
            line-height: $lineHeightSmall;
        }
    }

    &__title {
        position: relative;
        font-size: $fontSize60;
        line-height: $fontSize60;
        color: $brand02;
        margin: 0;
        
        &::before {
            content: '';
            position: absolute;
            right: calc(100% + 1.7708vw);
            top: -2.5vw;
            width: 8.0208vw;
            height: 6.3542vw;
            background: url('../images/icons/quotes.svg') no-repeat;
            background-size: contain;
        }
    }

    &__text {
        width: 45.6250vw;

        blockquote {
            margin: 1.4063vw 0;
        }

        p {
            padding-bottom: 2.500vw;
        }

        p:last-of-type {
            padding-bottom: 0;
        }
    }

    &__link {
        background-color: $brand02;
        font-size: 1.0417vw;
        min-height: 2.9167vw;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 0.6771vw 0 1.1979vw;
        color: $base;
        border-radius: 30px;
        font-weight: 500;
        transition: all .3s;

        &:hover,
        &:focus {
            background-color: $brand01;



        }

        span {
            display: block;
            margin: 0 0.4688vw 0.2604vw 0;
        }

        .icon-play {
            width: 1.6667vw;
            height: 1.6667vw;
        }
    }
}